<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;"> -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #4495ff;">
    <a class="navbar-brand" routerLink = "{{employeesPath}}" routerLinkActive="active"
    style="color: white;">Employee List</a>
    <a class="nav-link" routerLink = "{{employeesPath}}" 
    style="color: white;">Employee List</a>
    
</nav> -->
<nav class="navbar navbar-default" style="background-color: #4495ff;">
    <div class="container-fluid">
      <!-- <div class="navbar-header">
        <a class="navbar-brand" routerLink = "{{employeesPath}}" routerLinkActive="active"
        style="color: white;">EMS</a>
      </div> -->
      <ul class="nav navbar-nav">
        <li class="nav-item">
            <a 
                routerLink = "{{employeesPath}}" 
                routerLinkActive="active" 
                style="color: white;" 
                class="nav-link"
                routerLinkActive="active">Employee List</a></li>
        <li class="nav-item">
            <a 
                routerLink = "{{addEmployeesPath}}" 
                routerLinkActive="active" 
                style="color: white;" 
                class="nav-link"
                routerLinkActive="active">Add Employee</a></li>
        <li class="nav-item"><a href="#" style="color: white;">Page 1</a></li>
        <li class="nav-item"><a href="#" style="color: white;">Page 2</a></li>
        <li class="nav-item"><a href="#" style="color: white;">Page 3</a></li>
      </ul>
    </div>
</nav>
<h1 class="text-center"><b>E</b>mployee <b>M</b>anagement <b>S</b>ystem</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
        <span>All rights reserved</span>
    </div>
</footer>
